{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
  <div class="auth-main">
    <div class="auth-card card">
      <form method="post">
        {% if error %}
          <p class="form-error" role="status">
            {{ error.messageKey|trans(error.messageData, 'security') }}
          </p>
        {% endif %}

        <h1>Connexion</h1>

        <div class="form-row">
          <label for="username">Email</label>
          <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
        </div>

        <div class="form-row">
          <label for="password">Mot de passe</label>
          <input type="password" name="_password" id="password" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-primary" type="submit">Se connecter</button>
      </form>
    </div>
  </div>
{% endblock %}