{% extends 'base.html.twig' %}
{% block title %}Créer intervenant{% endblock %}

{% block body %}


<section class="section">
		<div class="container">
			<header class="section-header">
				<h2>Créer un intervenant</h2>
				<p class="subtle">Il sera automatiquement lié à votre compte.</p>
			</header>
		</div>
	</section>


	<div class="auth-main">
		<div class="auth-card card">
    {% include 'owner/workers/_form.html.twig' with { form: form, button_label: 'Créer' } %}
			
		</div>
	</div>

{% endblock %}
